/* Base styling*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    font-size: 16px;
}

/* Main nav styles*/
.main-nav {
    border-bottom: 0.3rem solid #b50010;
}

.main-nav > ul {
    list-style: none;
    padding: 2rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    background-color: #1C304A;
    text-align: center;
}

.main-nav > ul > li {
    border-right: 0.1rem solid #b50010;
}

.main-nav > ul > li:last-child {
    border-right: none;
}

.main-nav > ul > li > a {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;

}

.main-nav > ul > li > a:hover {
    color: #b50010;
}

.main-site-wrapper {
    margin: 2rem;
}

.events-table > table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    max-width: 90rem;
}

.events-table thead,
.events-table tbody,
.events-table tr {
    display: contents;
}

.events-table th,
.events-table td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.events-table th {
    top: 0;
    background: #1C304A;
    text-align: left;
    font-weight: 700;
    font-size: 1.1rem;
    color: #ffffff;
    border-bottom: 0.2rem solid #b50010;
}

.events-table a {
    color: #b50010;
}

.events-table a:hover {
    color: #1C304A;
}

.events-table tr:nth-child(even) td {
    background: #f0f0f0;
}

/* grouping-options*/

.grouping-options > ul {
    display: flex;
    list-style: none;
    text-align: left;
    padding-left: 0;
    width: auto;
}

.grouping-options > ul > li {
    padding-right: 1rem;
}

/* filter form*/

.filter-form {
    display: flex;
}

.filter-form > div {
    flex-basis: auto;
    margin-right: 1rem;
}

.filter-form > div > label {
    margin-right: 0.5rem;
}

.filter-form-buttons > p {
    margin: 0;
}

.filter-form-buttons > button {
    background-color: #b50010;
}

.filter-form-submit-button {
    background-color: #b50010;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
}

.filter-form-submit-button:hover {
    background-color: #1C304A;
}

.filter-form-item {
    padding: 0.5rem 1rem;
}

.filter-form-item:first-child {
    padding-left: 0;
}

